<section class="hero is-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <h1 class="title is-1 has-text-centered">Welcome to Members Only</h1>
      <p class="subtitle has-text-centered">Where we keep all your secrets safe!</p><br>
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          <%= render "feed" %>
        </div>
      </div>
    </div>
  </div>
</section>